<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190235715726-vnaf1grabn0kgf9a9da65r0o3kusuc9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190235715726-vnaf1grabn0kgf9a9da65r0o3kusuc9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDNoVkLR8cedvQ45lIrzA3aIuW555oFGkU</string>
	<key>GCM_SENDER_ID</key>
	<string>190235715726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.sertaosaude.covid19app</string>
	<key>PROJECT_ID</key>
	<string>sertaomaissaude-251d1</string>
	<key>STORAGE_BUCKET</key>
	<string>sertaomaissaude-251d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190235715726:ios:ed9601699cbc38e74bc1df</string>
	<key>DATABASE_URL</key>
	<string>https://sertaomaissaude-251d1.firebaseio.com</string>
</dict>
</plist>